[Desktop Entry]
Type=Application
Version=8.4.0
Name=Termius
GenericName=Desktop SSH Client
Comment=SSH client and terminal how it should be in 2023
Icon=termius
Exec=termius %U
Path=/usr/bin
Terminal=false
Categories=System;TerminalEmulator;
Keywords=Remote; Connection; Emulator; SFTP; FTP; File Transfer; Secure Shell, Terminal
StartupNotify=true
StartupWMClass=Termius
MimeType=x-scheme-handler/termius;
